/* card customization */
.vertical-card-info-container {
    padding: var(--sm-space);
}

.responsive-img {
    width: 100%;
    height: auto;
}

.product-img {
    width: 222px;
    height: 183px;
}

.card-heart-logo {
    padding-top: 10px;
}

.rating {
    background-color: var(--light-primary-color);
    padding: 0.2rem;
    border-radius: 6px;
    width: fit-content;
}

.price-percentage {
    font-size: 0.8rem;
}

.vertical-card-call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.8rem;
    row-gap: 0.8rem;
    flex-wrap: wrap;
}

.block-btn {
    width: 100%;
}

.vertical-card:hover {
    box-shadow: var(--card-shadow);
}

.card-heart-logo .flex-total-center {
    gap: var(--md-space);
}

.card-wishlist-btn {
    opacity: 1;
    z-index: 2;
    box-shadow: var(--box-shadow-btn);
}

.card-cart-btn {
    opacity: 1;
    z-index: 2;
    box-shadow: var(--box-shadow-btn);
}

.card-info-container {
    color: var(--text-color);
    text-decoration: none;
}

.position-unset {
    position: unset;
}