/* card customization */
.vertical-card-info-container {
    padding: var(--sm-space);
}

.card-heart-logo {
    padding-top: 10px;
}

.rating {
    background-color: var(--light-primary-color);
    padding: 0.2rem;
    border-radius: 6px;
    width: fit-content;
}

.price-percentage {
    font-size: 0.8rem;
}

.vertical-card-call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.8rem;
    row-gap: 0.8rem;
    flex-wrap: wrap;
}

.block-btn {
    width: 100%;
}

.vertical-card:hover{
    box-shadow: var(--card-shadow);
}