/*category feature*/
.category-area {
    padding: var(--xxxl-space) var(--xl-space);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
  
.card {
    width: fit-content;
}

.horizontal-card .card-title-header{
    font-size: 1.4rem;
}

.price{
    display: flex;
    align-items: center;
}

.discount-price{
    font-size: 1.5rem;
}

.card-call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.8rem;
    row-gap: 0.8rem;
    flex-wrap: wrap;
}

.card-description{
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.category-overlay-text {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--secondary-color);
    width: 100%;
    font-size: 1.2rem;
}
  
.category {
    height: 10rem;
    width: 20rem;
    max-width: 300px;
    cursor: pointer;
}
  
.category:hover {
    box-shadow: var(--card-shadow);
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s,-webkit-transform 1s;
}

.zoom {
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s,-webkit-transform 1s;
}