body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}

:root {
  /* colors */
  --banner-bg-color: rgba(255, 255, 255, 0.301);
  --banner-content-bg-color: hsl(0 0% 100% / 0.85);
  --bg-color: #fafafa;
  --nav-logo-custom-color: rgba(0, 0, 0, 0.6);
  --rating-star-color: hsl(42, 100%, 62%);
  --primary-border: 2px solid var(--primary-color);
  --secondary-border: 2px solid var(--secondary-color);
  --modal-bg-color: hsla(0, 0%, 0%, 0.4);


  /* spacing */
  --sm-space: 0.5rem;
  --md-space: 1rem;
  --lg-space: 1.5rem;
  --xl-space: 2rem;
  --xxl-space: 2.5rem;
  --xxxl-space: 3rem;
}

.btn {
  box-shadow: var(--box-shadow-btn);
}

.grid-50-50 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--md-space);
}

.flex-total-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.no-style-list {
  list-style: none;
}

@media only screen and (max-width: 1000px){
.grid-50-50 {
    grid-template-columns: 1fr;
}
}