.navbar {
    padding: 1rem;
    height: 4.5rem;
    top: 0;
    left: 0;
    position: sticky;
    grid-area: nav;
    background-color: var(--bg-color);
}

.burger-menu-button {
    display: none;
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--primary-color);
    border: none;
    width: 2rem;
    background-color: var(--bg-color);
}

/* nav-logo */
.nav-logo-title{
    font-size: 1.5rem;
}

.custom-color{
    color: var(--nav-logo-custom-color);
}

.nav-logo-tagline {
    display: block;
}

.mid-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-navbar{
    align-items: center;
}

/* search-bar */
.nav-search-bar {
    width: 30rem;
    display: flex;
    flex-shrink: 50%;
    align-items: center;
    position: relative;
}

.nav-search-bar button {
    position: absolute;
    right: 0;
    background-color: transparent;
    box-shadow: none;
    color: var(--black);
}

.search-btn {
    min-width: 10px;
}

.right-navbar .navlist-link-item {
    display: block;
    gap: var(--padding-sm);
}

.link-btn {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: var(--primary-color);
}

.logout-btn {
    border: none;
}

.badge-container {
    position: relative;
}

.number-badge {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    bottom: 0.8rem;
    right: -1rem;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none;
}

/* media-queries */
@media only screen and (max-width: 1024px) {
    .burger-menu-button {
        display: block;
    }

    .nav-logo-title {
        padding-top: 10px;
        font-size: 2rem;
    }

    .nav-logo-tagline {
        display: none;
    }

    .nav-search-bar {
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        background-color: #fff;
    }

}

@media only screen and (max-width: 600px) {
    .right-navbar .navlist-link-item {
        display: none;
    }

}