.cart-card:hover {
    cursor: pointer;
    box-shadow: var(--card-shadow);
}

.qty-count {
    border: 2px solid var(--secondary-color);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}